# =============================
# Python
# =============================
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# =============================
# SQLite database
# =============================
*.db
*.db-shm
*.db-wal

# =============================
# Environment variables
# =============================
.env
.env.*

# =============================
# Logs
# =============================
*.log
logs/

# =============================
# OS junk
# =============================
Thumbs.db
.DS_Store

# =============================
# RAG persistent data (DO NOT COMMIT)
# =============================
storage/

# =============================
# IDE
# =============================
.vscode/

#-----------------------------
# Back up files
iit.py
iit2.py
archive.py